<nav class="navbar navbar-expand navbar-dark px-2">
  <div class="side-nav-button p-2 me-3 text-dark" style="font-size: 20px;" (click)="SideNavToggled()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="nav-brand ps-2" routerLink="">MasarratFatima</a>
  <h6 class="ms-5 Welcome">Hello ABC,<br> Welcome Back</h6>
  <form class="d-flex ">
    <input class="form-control me-2" style="font-size:smaller;width: 400px;" type="search" placeholder="Search  For NFT...">
  </form>



  <button class="btn btn-sm btn-dark" style="border-radius:7px; margin-left: 50px;" type="submit">Create</button>

  <label class="custom-switch-btn" for="switchDark"><i class="iconsminds-half-moon
    "></i></label>

  <div class="profile-logo dropdown mx-5">
    <img class="user-img dropdown-toggle" data-bs-toggle="dropdown" src="/assets/img/profiles/India_Flag_Emoji.png" alt="">

    <ul class="dropdown-menu dropdown-menu">
      <li><a href="" class="dropdown-item">Sign Up</a></li>
      <li><a href="" class="dropdown-item">Log In</a></li>
      <li><a href="" class="dropdown-item">Your Profile</a></li>
      <li><a href="" class="dropdown-item">Logout</a></li>
    </ul>
  </div>

  <i class="fa-regular fa-bell"></i>

  <div class="profile-logo dropstart mx-5">
    <img class="user-img dropdown-toggle" data-bs-toggle="dropdown" src="/assets/img/profiles/l-1.jpg" alt="">
    <!-- <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
      Himanshu
    </button> -->
    <ul class="dropdown-menu dropdown-menu">
      <li><a href="" class="dropdown-item">Sign Up</a></li>
      <li><a href="" class="dropdown-item">Log In</a></li>
      <li><a href="" class="dropdown-item">Your Profile</a></li>
      <li><a href="" class="dropdown-item">Logout</a></li>
    </ul>
  </div>

</nav>
