<div class="container">
  <main>
      <div class="row mt-3">
          <div class="col-md-12 col-lg-8">
              <div class="create-heading">
                  <h2>Create NFTs</h2>
              </div>

              <label for="upload" class="lable">Upload image</label>
              <div class="file-container" *ngIf="!file">
                  <input type="file" class="file" (change)="getFile($event)">
              </div>

              <div *ngIf="file" class="lable">
                  File name:{{file.name}} <br>
                  <button (click)="file = undefined" class="clear-btn">clear file</button>

              </div>
              <button class="lable btn-heading">upload file</button>

              <br>



              <div class="container">
                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="mb-3"></div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="mb-3">
                              <p class="hash-number" *ngIf="file">Hash No: {{file.lastModified}}</p>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="container" *ngIf="file">

                  <div class="row">
                      <div class="col-md-12 col-lg-6">
                          <div class="mb-3">
                              <label for="exampleInputPassword1" class="lable">File Name</label>
                              <input type="text" class="form-control" id="exampleInputName"
                                  placeholder="Enter Your Name" [(ngModel)]="fileName">
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="mb-3">
                              <label for="exampleInputPassword1" class="lable">File Hash</label>
                              <input type="text" class="form-control" id="exampleInputName"
                                  placeholder="Enter Your Name" [(ngModel)]="hashID">
                          </div>
                      </div>

                  </div>

                  <div class="row">
                      <div class="col-md-12 col-lg-6 mt-2">
                          <div class="mb-3 mt-5">
                              <label for="exampleInputPassword1" class="lable"></label>
                              <textarea name="" id="" cols="40" rows="2" placeholder="Description"
                                  [(ngModel)]="discpt"></textarea>
                          </div>
                      </div>
                      <div class="col-md-12 col-lg-6">
                          <div class="mb-3">
                              <label for="exampleInputPassword1" class="lable">Attributes </label>
                              <input type="text" class="form-control" id="exampleInputName"
                                  placeholder="Enter Your Name" [(ngModel)]="attRib">
                          </div>
                      </div>
                  </div>

                  <div class="mb-3 text-center">
                      <button class="cancel-btn">Cancel</button> <button class="create-btn" routerLink="/seller-item"
                          (click)="mintNFt()">Mint NFT</button>
                  </div>
              </div>


          </div>
          <div class="col-md-12 col-lg-4 mt-5">
              <p class="lable" *ngIf="file">preview of your file</p>
              <p *ngIf="file"><img src="assets/images/{{file.name}}" alt="preview image"></p>

              <!-- <div class="container text-center pt-2">
                  <h2 class="text-center"> Todo List</h2>
                  <p *ngFor="let item of list">{{item.name}} <button class="btn btn-success"
                          (click)="removeTask(item.id)">Remove
                          Task</button></p>
                  <input type="text" class="form-control" placeholder="Enter new task" #task>


                  <button class="form-control btn btn-success mt-3" (click)="addTask(task.value)">Add task</button>


              </div> -->
          </div>
      </div>
  </main>
</div>
