html{
  scrollbar-width: thin;

}
app-header{
  position: fixed;
  width: 100%;
  top: 0px;
  padding-top: 10px;
  height: 4rem;
  z-index: 2;
  box-shadow: 2px 2px 2px #ccc;
}
main{
  position: absolute;
  width: 100;
  top: 4rem;
  z-index: 1;
}
app-sidenav {
  position: absolute;
  left: 0rem;
  width: 0px;
  height: calc(100vh - 4rem);
  background-color: #fff;
  /* border-top: 1px solid white; */
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;

}
.app-sidenav-open{
  width: 250px;
  padding-bottom: 25px;

}
.display-area{
  position: absolute;
  left: 60px;
  width: calc(100% - 250px);
  transition: left 250ms ease-in, width 250ms ease-in;
}
.display-area-shrink{
  width: calc(100% - 250px);
  left: 250px;
}


/* width */
.app-sidenav-open::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.dark .app-sidenav-open::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.dark .app-sidenav-open::-webkit-scrollbar-thumb {
  background: rgb(49, 47, 47);
  border-radius: 7px;
}

/* Handle on hover */
.app-sidenav-open::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll bar for Dark theme */
.app-sidenav-open::-webkit-scrollbar {
  width: 5px;
}


/* Handle */
.app-sidenav-open::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

/* Handle on hover */
.app-sidenav-open::-webkit-scrollbar-thumb:hover {
  background: #555;
}
