<div class="container mt-5">
  <div class="card meta-card mb-5">
      <div class="heading-meta mt-3">
          <h2>Connect Wallet</h2>
      </div>
      <div class="para-meta mb-3">
          <p>connect with our aviable wallet providers or create new</p>
      </div>

      <div class="meta-img-content mb-3">
          <div class="row">
              <div class="col-lg-6">
                  <p class="meta-img-para  mt-4 mx-3">metaverse</p>
              </div>
              <div class="col-lg-6 rotate-color">
                  <div class="img-meta  mt-3 mx-3">
                      <img src="assets/images/meta-img.svg" alt="meta dog image">
                  </div>
              </div>
          </div>
      </div>
      <div class="detail mx-5 mb-3">
          <p class="meta-img-para">By connecting your wallet, you agree to our Terms of Service and Privacy Policy</p>
      </div>
  </div>
</div>
