<div class="container-fuild">
  <div class="container mt-5">
      <main>
          <section id="bnr-img" class="bnrimg">

              <div class="container">
                  <div class="bnrcnts">
                      <h4>Sell NFT Digital Artworks</h4>
                      <p class="text-white">Lorem ipsum dolor sit amet,
                          consectetur
                          adipiscing elit. Amet interdum mattis
                          aenean
                          proin sit aliquam. Lacus augue aliquam aliquam fames mollis quam sed id.</p>

                      <button type="button" class="btn  btn-lg mb-1 btnbnr fill" routerLink="/create-nft">Create
                          NFTs</button>
                      <button type="button" class="btn  btn-lg mb-1 btnbnr unfill">Explore</button>
                  </div>
              </div>
          </section>

          <section id="cstm-nftsec" class="cstm-nftsec">
              <div class="row">
                  <div class="aftbnr col-lg-6 col-sm-6 col-md-6 col-xs-12">
                      <h4>List of own NFTs</h4>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                      <button type="button" class="btn btn-lg mb-1  btnmore">View
                          More</button>
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12" *ngFor="let main of mainSection">
                      <div class="card">
                          <div class="card-img">
                              <img [src]="main.img" alt="nft-1" class="w-100">
                              <button type="button" class="btn  btn-lg mb-1 nftbtn">{{main.button}}
                              </button>
                          </div>

                          <div class="nftcnts">
                              <h5>{{main.titles}}</h5>
                              <ul class="pricecstm">
                                  <li>{{main.currentP}}</li>
                                  <li><img [src]="main.imgETH" alt="nft-1">{{main.price}} ETH</li>
                              </ul>
                          </div>
                      </div>
                  </div>

              </div>
          </section>
      </main>
  </div>
</div>
